body {
    color: #888;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

dl {
	margin-top: 20px;
	text-align: justify;
}

.link-01 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa {
    text-align: center;
    display: block;
}

.card {
    height: 200px;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
    border: solid 1px #fff;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.card:hover {
    opacity: 0.5;
    cursor: pointer;
}

._card01 {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/1.jpg);
}

._card02 {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/2.jpg);
}

._card03 {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/3.jpg);
}

._card04 {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/4.jpg);
}

._card05 {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/5.jpg);
}

._card06 {
    background-image: url(https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/6.jpg);
}

.tab-pane {
    height: 100px;
    border: solid 1px #ddd;
    border-top: 0;
    padding: 10px;
    text-align: justify;
}

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.icon-jabong {
    background-image: url(../images/jb.svg);
    background-color: orange;
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
}

.carousel-image {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

._sheet {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

._image01 {
    background-image: url(../images/ntut01.png);
}

._image02 {
    background-image: url(../images/ntut02.png);
}

.info {
	height: 150px;
	text-align: center;
}
