.item1 {
    background: red;
}

.item2 {
    background: orange;
}

.item3 {
    background: yellow;
}

body {
    display: inline-flex;
}

body div {
    border: solid 1px #ccc;
    width: 200px;
    height: 200px;
}

.container1 div {
    border: solid 1px #ccc;
    width: 50px;
    height: 50px;
}

.container2 div {
    border: solid 1px #ccc;
    width: 50px;
    height: 50px;
}

.container3 div {
    border: solid 1px #ccc;
    width: 50px;
    height: 50px;
}

.container4 div {
    border: solid 1px #ccc;
    width: 50px;
    height: 50px;
}